/* mobile first*/

.container {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, sans-serif;
  padding-right: 10px;
  background-color: floralwhite;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logoLink {
  display: flex;
  align-items: center;

}

.logoImage {
  border-radius: 50%;
  border: 2px solid rgba(255, 137, 2, 0.338);
}

.logoText {
  margin-left: 10px;
  font-weight: bold;
  font-size: 25px;
}

.links {
  display: flex;
  align-items: center;
  gap: 32px;
}

.link {
  text-decoration: none;
  font-size: 16px;
  transition: color 0.5s, background-color 0.5s;
  position: relative;
  text-align: center;
}

.link:hover {
  color: #042e62;
  background-color: #ccc;
  border-radius: 3px;
  padding: 3px;
}

.link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #74a2da;
  transform: scaleX(0);
  transition: transform 0.3s;
}

/* Styles pour le bouton de déconnexion */
.logout {
  padding: 5px 10px;
  border: none;
  background-color: #0f4a8d;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  font-size: 14px;
  transition: background-color 0.5s, color 0.5s;
}

.logout:hover {
  background-color: #e39b4e;
}

/* Styles pour les mobiles */
@media (max-width: 768px) {
  .container {
    padding: 0 13px;
  }

  .logoText {
    font-size: 12px;
  }

  .link {
    font-size: 12px;
  }

  .logout {
    font-size: 12px;
  }
  .linkTitle {
    display: none;
  }
  .logoText {
    display: none;
  }
  .logoLink {
    width: 50px;
    height: 50px;
  }
}

/* Styles pour les écrans de tablette */
@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    padding: 0 3px;
  }

  .logoText {
    font-size: 20px;
  }

  .link {
    font-size: 14px;
  }

  .logout {
    font-size: 16px;
  }
  .linkIcon{
    display:none;
  }
}
@media (min-width: 1025px) {


  .logoText {
    font-size: 20px;
  }

  .link {
    font-size: 16px;
    justify-content: center;
  }
  .linkIcon{
    display:none;
  }
  .logout {
    font-size: 18px;
  }
}

/* Styles pour les écrans grandes résolutions */
@media (min-width: 1440px) {
  .container {
    padding: 0 3px;
  }

  .logoText {
    font-size: 28px;
  }

  .link {
    font-size: 24px;
  }
  .linkIcon{
    display:none;
  }
  .logout {
    font-size: 20px;
  }
}

/* Styles pour les écrans larges */
@media (min-width: 1920px) {
  .container {
    padding: 0 3px;
  }

  .logoText {
    font-size: 32px;
  }

  .link {
    font-size: 28px;
  }

  .logout {
    font-size: 22px;
  }
}