.main {
    background-color: var(--color-background-light);
    /* Fond gris clair */
    padding: var(--spacing-xl) 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: var(--spacing-xl);
}

.imageSection {
    flex: 1;
}

.imgWrapper {
    position: relative;
    width: 100%;
    padding-bottom: 75%;
    /* 4:3 Aspect Ratio */
    border-radius: var(--border-radius-lg);
    /* Coins arrondis */
    overflow: hidden;
    box-shadow: var(--box-shadow);
    /* Ombre subtile */
}

.image {
    transition: transform var(--transition-duration);
    /* Animation fluide */
}

.imgWrapper:hover .image {
    transform: scale(1.05);
    /* Zoom léger au survol */
}

.contentSection {
    flex: 1;
}

.heading {
    font-size: var(--font-size-xxl);
    /* Taille de police pour le titre */
    color: var(--color-heading);
    /* Couleur du titre */
    margin-bottom: var(--spacing-md);
}

.divider {
    width: 50px;
    height: 3px;
    background-color: var(--color-primary);
    /* Couleur principale */
    margin-bottom: var(--spacing-lg);
}

.subheading {
    font-size: var(--font-size-xl);
    /* Taille de police pour le sous-titre */
    color: var(--color-text);
    /* Couleur du texte */
    margin-bottom: var(--spacing-md);
}

.paragraph {
    font-size: var(--font-size-md);
    /* Taille de police pour le paragraphe */
    line-height: 1.6;
    color: var(--color-text-light);
    /* Couleur grise pour le texte */
    margin-bottom: var(--spacing-lg);
}

.unorderedList {
    list-style-type: none;
    padding-left: 0;
}

.listItem {
    font-size: var(--font-size-md);
    /* Taille de police pour les éléments de liste */
    line-height: 1.6;
    color: var(--color-text-light);
    /* Couleur grise pour le texte */
    margin-bottom: var(--spacing-sm);
    position: relative;
    padding-left: var(--spacing-lg);
}

.listItem::before {
    content: "•";
    color: var(--color-primary);
    /* Couleur principale pour les puces */
    font-weight: bold;
    position: absolute;
    left: 0;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 0 var(--spacing-md);
    }

    .imageSection,
    .contentSection {
        width: 100%;
    }

    .heading {
        font-size: var(--font-size-xl);
        /* Taille réduite pour les petits écrans */
    }

    .subheading {
        font-size: var(--font-size-lg);
        /* Taille réduite pour les sous-titres */
    }
}