.container {
  display: flex;
  align-items: center; /* Centrer les éléments horizontalement */
  width: 80%; /* Définir une largeur pour le conteneur principal */
  margin: 0 auto; /* Centrer le conteneur horizontalement */
  padding: 20px; /* Ajouter un espace interne au conteneur */
}


.sideMenu {
  width: 250px; /* Largeur du SideMenu */
  height: 100vh; /* Hauteur du SideMenu (100% de la hauteur de la fenêtre) */
  background-color: #f2f2f2; /* Couleur d'arrière-plan du SideMenu */
  padding: 20px;
}

.formContainer {
  flex: 1; /* Prendre tout l'espace restant dans le conteneur principal */
  padding: 20px;
}

.formTitle {
  font-size: 32px; /* Augmenter la taille du titre */
  font-weight: bold;
  margin-bottom: 20px;
  color: #333; /* Couleur du titre */
}

.formGroup {
  width: 100%; /* Largeur du formulaire */
  display: flex; /* Disposition flexbox pour les champs du formulaire */
  flex-direction: column; /* Aligner les champs verticalement */
}

.input,
.textarea {
  width: 100%; /* Largeur des champs d'entrée */
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 15px; /* Ajouter un espace entre les champs */
}

.textarea {
  height: 150px; /* Hauteur du textarea */
  resize: vertical; /* Permettre le redimensionnement vertical du textarea */
}

.input:focus,
.textarea:focus {
  outline: none;
  border-color: #007bff;
}

.button {
  display: block; /* Afficher le bouton */
  width: 150px; /* Largeur du bouton */
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s; /* Effet de survol */
}

.button:hover {
  background-color: #0056b3; /* Couleur de survol */
}