/* Styles mobile first */
.container {
  padding: 20px;
}

/* Styles pour l'image d'en-tête */
.headerImage {
  position: relative;
  width: 100%;
  overflow: hidden;
}



.logoContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.logoLink {
  text-decoration: none;
  color: #333;
}

.logoText {
  margin-left: 10px;
  font-weight: bold;
  font-size: 18px;
}

.title {
  text-align: center;
  margin: 10px;
  border: white solid 4px;
  /* border-radius: 10px 30px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); */
  height: 183px;
  padding-top: 41px;
}

.desc {
  font-size: 18px;
  text-align: center;
  color: #201b1b;
  margin: 20px 0;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.desc h2 {
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #0e0505;
}

.desc p {
  line-height: 1.5;
  margin-bottom: 20px;
}

.desc ul {
  list-style: disc;
  padding-left: 20px;
  margin-bottom: 20px;
}

.backgroundArrow {
  z-index: 1;
}

.backgroundArrow::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 127px 0 147px 162px;
  border-color: transparent transparent transparent #1523bc36;
  position: absolute;
  bottom: 0;
}

.img {
  width: 100%;
  max-width: 300px;
  display: block;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.img:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}

/* Media query pour tablettes */
@media (min-width: 768px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

 

  .desc {
    text-align: left;
  }
}

/* Media query pour écrans de bureau */
@media (min-width: 1024px) {
  .container {
    gap: 3rem;
    padding: 40px;
  }

  .title {
    font-size: 36px;
    text-align: center;
    margin: 10px;
    height: 183px;
    padding-top: 41px;
    background: linear-gradient(135deg, #1523bc, hsl(32, 100%, 53%));
    background-clip: text;
    color: transparent;
  }

  .img {
    max-width: 600px;
  }

  .desc {
    font-size: 20px;
    max-width: 97%;
    margin: 20px auto;
  }
}
