/* mobile first*/

.container {
  background: linear-gradient(45deg, #f3b538,  #2999b5,#4278d2);
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, sans-serif;
  padding-right: 10px;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logoLink {
  display: flex;
  align-items: center;
  color: #fff;
}

.logoText {
  margin-left: 10px;
  font-weight: bold;
  font-size: 12px;
}

.links {
  display: flex;
  align-items: center;
  gap: 15px;
}

.link {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.5s;
  position: relative;
}

.link:hover {
  color: #042e62;
  background-color: #ccc;
  border-radius: 3px;
  padding: 3px;
}

.link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #74a2da;
  transform: scaleX(0);
  transition: transform 0.3s;
}

.logout {
  padding: 5px 10px;
  border: none;
  background-color: #0f4a8d;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  font-size: 16px;
  transition: background-color 0.5s, color 0.5s;
}

.logout:hover {
  background-color: #e39b4e;
}

/* Styles pour les petits écrans (mobiles) */
@media (max-width: 768px) {
  .container {
    padding: 0 10px;
  }

  .logoText {
    font-size: 18px;
  }

  .link {
    font-size: 16px;
  }

  .logout {
    font-size: 14px;
  }
  .linkTitle {
    display: none;
  }
  .logoText {
    display: none;
  }
  .logoLink{
    width: 50px;
    height: 50px;
  }
}

/* Styles pour les écrans de tablette */
@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    padding: 0 30px;
  }

  .logoText {
    font-size: 20px;
  }

  .link {
    font-size: 18px;
  }

  .logout {
    font-size: 16px;
  }
}
