/*Mobile first */

.container {
  background-color: #f9f9f9;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.footerContent {
  max-width: 800px;
  text-align: center;
}

.iconContainer {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.locationIcon,
.envelopeIcon {
  color: #e74c3c;
  margin-right: 10px;
}

.footerContent h3 {
  font-size: 1.25rem;
  font-family: 'Arial', sans-serif;
  color: #333;
  margin-bottom: 10px;
}

.footerContent p {
  font-size: 1rem;
  font-family: 'Arial', sans-serif;
  color: #555;
  line-height: 1.5;
  margin-bottom: 15px;
}

.footerContent small {
  font-size: 0.8rem;
  display: block;
  color: #777;
  font-style: italic;
}

/* Media Queries */

@media screen and (min-width: 768px) {
  .footerContent {
    font-size: 18px;
  }

  .footerContent h3 {
    font-size: 1.5rem;
  }

  .footerContent p {
    font-size: 1.1rem;
  }
}
