
.container {
  background-color: rgba(131, 130, 210, 0.56);
  padding: 20px;
  display: flex;
  justify-content: center;
}

.footerContent {
  max-width: 800px;
  text-align: center;
}

@media (max-width: 768px) {
  .footerContent {
    max-width: 90%;
  }
}
