.container {
  background-color: rgb(11, 10, 70);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.input {
  padding: 20px;
  background-color: transparent;
  border: 3px solid #bbb;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  color: #bbb;
}
.button {
  width: 300px;
  padding: 20px;
  cursor: pointer;
  background-color: #e77e05;
  border: none;
  border-radius: 5px;
  color: #bbb;
  font-weight: bold;
}
/* Styles pour les boutons radio de la civilité */
.custom-radio {
  opacity: 0;
  position: absolute;
  width: 0;
  height: 0;
}

.label {
  cursor: pointer;
  display: inline-block;
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 5px;
  margin-right: 10px;
  color: #bbb;
}

/* Style pour le label sélectionné */
.custom-radio:checked + label {
  background-color: #e77e05;
  color: white;
}