.container {
  display: flex;
  gap: 100px;
}

.adherent {
  border: 1px solid #ccc; /* Bordure autour de chaque adhérent */
  border-radius: 5px; /* Rayon de bordure pour arrondir les coins */
  padding: 10px; /* Ajout d'un espace intérieur */
  margin-bottom: 10px; /* Espacement entre chaque adhérent */
}

.info {
  flex: 1; /* Le contenu de l'info prend autant d'espace que possible */
}

.actions {
  display: flex; /* Affichage en ligne des icônes */
}

.trashIcon, .pencilIcon {
  cursor: pointer; /* Définir le curseur comme pointeur pour indiquer l'interaction */
  color: rgb(245, 241, 241); /* Couleur de l'icône (vous pouvez choisir la couleur que vous préférez) */
  font-size: 20px; /* Taille de l'icône */
  margin-left: 10px; /* Espacement à gauche de l'icône */
  border: 1px solid transparent; /* Ajout d'une bordure */
  border-radius: 50%; /* Rayon de la bordure pour créer une forme circulaire */
  transition: all 0.3s ease; /* Animation de transition pour l'effet au survol */
}

.trashIcon:hover, .pencilIcon:hover {
  color: darkred; /* Couleur de l'icône au survol (vous pouvez choisir la couleur que vous préférez) */
  border-color: darkred; /* Changement de couleur de la bordure au survol */
}

.formContainer {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.formGroup {
  margin-bottom: 20px;
}

.formLabel {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.formInput {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.formButton {
  width: 100%;
  padding: 12px;
  background-color: #53c28b;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.formButton:hover {
  background-color: #3d8f67;
}
