.sideMenu {
  background-color: #333;
  width: 200px;
  padding: 20px;
  position: relative;
}

.menuList {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menuList li {
  margin-bottom: 10px;
  position: relative;
}

.menuList li a {
  color: #fff;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
}

.menuList li:hover a {
  background-color: #222;
}

.subMenu {
  text-decoration: none;
  list-style: none;
  padding-left: 15px;
  left: 0;
  top: 100%;
  background-color: #333;
  border-radius: 5px;
  padding: 10px;
  z-index: 1;
  transition: transform 0.3s ease-in-out;
}

.subMenu li {
  margin-bottom: 5px;
  justify-content: center;
}

.subMenu li a {
  color: #ccc;
  display: block;
  transition: color 0.3s;
}

.subMenu li a:hover {
  color: #fff;
  background-color: orange;
}

.link {
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.linkIcon {
  margin-right: 15px;
  font-size: 18px;
}

.settingsLink {
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.settingsLink span {
  margin-left: 10px;
  font-size: 16px;
}

.submenuIcon {
  margin-left: auto;
  transition: transform 0.3s ease;
  display: flex;
  align-items: center;
}
.subMenu.open {
  left: 100%;
  top: 0;
}

.subMenu.open .submenuIcon {
  transform: rotate(90deg);
}

.menuList li:hover a .submenuIcon {
  transform: rotate(90deg);
}
.settingsLink:hover span {
  color: #555;
}
.subMenu.open {
  left: 100%;
  top: 0;
}


