/* Mobile first */



.contentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100%; */
  background-color: #ff8c0061;
  box-shadow: 0px 4px 10px rgb(0 0 0 / 58%);
}

.textContainer {
  width: 100%;
  padding: 20px;
  text-align: center;
}


.text h2,
.text p {
  font-size: 34px;
  margin-bottom: 10px;
  color: #042e62;
  
}
.text p {
  font-size: 24px;
}
.img {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  margin-top: 20px;
  border-radius: 10px;
}

.img:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
}

.arrowsContainer {
  position: relative;
}

.arrow {
  position: absolute;
  z-index: -1;
}

.arrow1,
.arrow2,
.arrow3 {
  border-style: solid;
  border-width: 0;
  border-color: transparent transparent transparent #071cff4d;
  opacity: 0.5;
}

.arrow1 {
  width: 30px;
  height: 30px;
  top: 20%;
  left: 10%;
  border-width: 30px 0 0 30px;
}

.arrow2 {
  width: 50px;
  height: 50px;
  top: 60%;
  left: 50%;
  border-width: 50px 0 0 50px;
}

.arrow3 {
  width: 80px;
  height: 80px;
  top: 30%;
  right: 10%;
  border-width: 80px 0 0 80px;
}

/* Tablettes */
@media (min-width: 768px) {
  .banner {
    height: 300px;
  }

  .contentContainer {
    flex-direction: row;
    border-radius: 15px;
  }

  .textContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
  }

  .text {
    padding-left: 58px;
  }

  .img {
    width: 50%;
    text-align: right;
    max-width: 300px;
  }

  .arrow1 {
    width: 40px;
    height: 40px;
    top: 15%;
    left: 10%;
    border-width: 40px 0 0 40px;
  }

  .arrow2 {
    width: 60px;
    height: 60px;
    top: 50%;
    left: 50%;
    border-width: 60px 0 0 60px;
  }

  .arrow3 {
    width: 100px;
    height: 100px;
    top: 25%;
    right: 10%;
    border-width: 100px 0 0 100px;
  }
}

/* Écrans d'ordinateur */
@media (min-width: 1024px) {
  .banner {
    height: 335px;
  }

  .text {
    width: 40%;
  }

  .img {
    width: 38%;
    max-width: 428px;
    border-radius: 10px;
  }

  .arrow1 {

    left: 41%;
    border-width: 132px 0 0 118px;
    z-index: -1;
  }

  .arrow2 {
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    border-width: 100px 0 0 100px;
  }

  .arrow3 {
    width: 160px;
    height: 160px;
    top: 20%;
    right: 5%;
    border-width: 160px 0 0 160px;
  }

  .text {
    background-color:whitesmoke;
    position: relative;
    z-index: 2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
}