/* Mobile first */
.banner {
  position: relative;
  height: 415px;
  background-size: cover;
  background-position: center;
  background-image: url("/public/hero.jpg");
}



.contentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.textContainer {
  width: 100%;
  padding: 20px;
  color: black;
  text-align: center;
  border-top: 3px solid #2588b8; 
  border-bottom: 3px solid #2588b8; 
}

.text {
  opacity: 0.9;
}

.img {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  margin-top: 20px;
}

.img:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
}
/* Tablettes */
@media (min-width: 768px) {
  .banner {
    height: 300px;
  }

  .contentContainer {
    flex-direction: row;
  }

  .textContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
  }

  .text {
    width: 50%;
    text-align: left;
    padding: 20px;
  }

  .img {
    width: 50%;
    text-align: right;
    max-width: 300px;
  }
}

/* Écrans d'ordinateur */
@media (min-width: 1024px) {
  .banner {
    height: 383px;
  }

  .text {
    width: 40%;
  }

  .img {
    width: 60%;
    max-width: 500px;
  }
}
